<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <form (ngSubmit)="login()" #loginForm="ngForm">
            <h2>登入帳戶</h2>
            <ion-item>
                <ion-label position="floating">帳號</ion-label>
                <ion-input type="text" [(ngModel)]="loginData.username" placeholder="輸入帳號" required="true"
                    [ngModelOptions]="{standalone: true}"> </ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">密碼</ion-label>
                <ion-input type="password" [(ngModel)]="loginData.password" placeholder="輸入密碼" required="true"
                    [ngModelOptions]="{standalone: true}">
                </ion-input>
            </ion-item>
            <ion-button expand="block" type="submit">登入</ion-button>
        </form>
    </div>
</ion-content>